@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.drop-down {
    position: relative;
    height: 54px;

    label {
        color: $black;
        font-size: 15px;
    } 

    #drop-down-wrapper {
        width: 100%;
    }

    .input:focus{
        outline: none;
        border: 1px solid $lightblue;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .error-message{
        color: red;
        margin: auto;
        width: 80%;
        display: block;
        font-size: 13px;
        position: absolute;
        left: 0%;
        top: 100%;
        transform: translateY(30px);
    }

    .input.error{
        border: 1px solid red;
    }
}
