$navy: #192655;
$lightblue: #3876BF;
$groundyellow: #f8c110;
$lightyellow: #F3F0CA;
$white: #FFFFFF;
$black: #000000;
$grey: #f5f5f5;
$pastelblue: #DAEAF1;
$brightblue: #1d92ff;
$purpleblue: #a1a5fb;
$green: #0abd16;
$greyblue: #caebff;
$vintageblue: #6c7a99;
$orange: #fbcca1;
$yellow: #fbf2a1;
$groundorange: #ff8512;
$lightgreen: #defba1;
$darkgrey: #555555;
$pastelpurple: #c7c6ff;
$purple: #f9a1fb;
$pink: #fba1a1
