$navy: #192655;
$lightblue: #3876BF;
$groundyellow: #E1AA74;
$lightyellow: #F3F0CA;
$white: #FFFFFF;
$black: #000000;
$grey: #BBBBBB;
$pastelblue: #DAEAF1;
$brightblue: #1095e6;
$purpleblue: #418bff;
$green: #1bd3e4;
$greyblue: #dfe8f5;
$vintageblue: #6c7a99;
