@import 'src/assets/scss/colors';

#dashboard-screen{
    height: 100%;
    width: 100%;
    background: $grey;
    display: flex;
    align-items: center;
    // padding: 5px
}

.dashboard-summary-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30%
}

.dashboard-summary-block-title{
    color: black;
}
