@import 'src/assets/scss/colors';

#dashboard-screen{
    height: 100%;
    width: 84vw;
    top: 0%;
    left: 16vw;
    position: absolute;
}

#dashboard-tab-wrapper{
    position:absolute;
    top: 0px;
    left: 20px;
    width: 95%;
    height: 100vh
}