@import 'src/assets/scss/colors';

.dialog-box{
    position: relative;
}

#thong-tin-kdcn{
    position: absolute;
    top: 290px;
}

#kdcn-kdcn{
    width: 90%;
    position: absolute;
    top: 380px;
    left:50%;
    height: 50px;
    transform: translateX(-50%);
}

#kdcn-group{
    // width: 90%;
    position: absolute;
    top: 430px;
    left:5%;
    height: 50px;
    width: 100%;

    #kdcn-group-label-wrapper1{
        margin-bottom: 5px;

        #kdcn-group-label1{
            color: $vintageblue;
            font-size: 15px;
        }
    }
}

#kdcn-date{
    width: 55%;
    position: absolute;
    top: 430px;
    right:5%;
    height: 120px;
    // transform: translateX(-50%);
}

#kdcn-number{
    width: 100%;
    position: absolute;
    top: 530px;
    left: 5%;
    height: 50px;

    #slash-1{
        position: absolute;
        top: 50%;
        left: 22%
    }

    #slash-2{
        position: absolute;
        top: 50%;
        left: 57%
    }

    #kdcn-number-label{
        color: $vintageblue;
        font-size: 15px;
    }

    #kdcn-number-group{
        width: 20%;
        position: absolute;
        margin-top: 5px;

        #kdcn-group-label-wrapper{
            margin-bottom: 5px;

            #kdcn-group-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }

    #kdcn-number-year{
        width: 30%;
        position: absolute;
        left: 25%;
        margin-top: 5px;

        #kdcn-year-label-wrapper{
            margin-bottom: 5px;

            #kdcn-year-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }

    #kdcn-number-id{
        width: 30%;
        position: absolute;
        right: 10%;
        margin-top: 5px;

        #kdcn-id-label-wrapper{
            margin-bottom: 5px;

            #kdcn-id-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }
}

#btn-add-history{
    position: absolute;
    top: 630px;
    width: 20%;
    height: 40px;
    right: 50%;
    transform: translateX(50%)
}

.history-fields{
    position: relative;
    width: 100%;
    height: 100px;
    top: 610px;
}

.history-action{
    position: absolute;
    top: 10px;
    width: 45%;
}

.history-date{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%)
}

.history-date{
    position: absolute;
    width: 40%; 
    left: 50%;
    top: 50%;
    transform: translateY(-50%)
}

.history-delete{
    position: absolute;
    right: 0%;
    top: 60%;
    transform: translateY(-50%)
}

#kdcn-gcn-block{
    position: relative;
    width: 100%;
    height: 220px;
}

#kdcn-so-gcn{
    width: 100%;
    position: absolute;
    top: 50px;
}

#kdcn-gcn-date{
    width: 40%;
    position: absolute;
    top: 50px;
    left: 55%;
    height: 120px;
}

#kdcn-thong-tin-gcn{
    position: absolute;
    top: 0px;
}

#kdcn-button-save{
    height: 50px;
    width: 12%;
    position: absolute;
    bottom: 3%;
    left: 52%
}

#kdcn-button-cancel{
    height: 50px;
    width: 12%;
    position: absolute;
    bottom: 3%;
    right: 52%
}