@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

#button-cancel-wrapper{
    position: relative;
}

.button-cancel{
    background-color: #dddddd;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    // margin: 0 auto;
    width: 100%;
    height: 100%;
}

.button-cancel:hover{
    box-shadow: 0px 4px 8px rgb(0,0,0,0.2);
    cursor: pointer;
}