@import 'src/assets/scss/colors';

.dialog-box{
    position: relative;
}
.customer-button-save{
    height: 40px;
    width: 20%;
}

.customer-button-cancel{
    height: 40px;
    width: 20%;
}

.dialog-customer-accordion{
    margin-bottom: 20px
}