@import 'src/assets/scss/colors';

.curator-field{
    width: 100%;
    height: 80px;
    padding-top: 20px
}

.dialog-customer-curator-field-fullName{
    padding-top: 0px
}

.curator-label{
    color: $vintageblue;
}