@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.card {
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
  }