@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.text-input {
    height: 90px;
    label {
        color: $darkgrey;
        font-size: 15px;
    }

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%
    }

    .front-icon {
        color: #3876BF;
        font-size: 16px;
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
    }    

    .back-icon {
        color: #3876BF;
        font-size: 16px;
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translateY(-50%);
    }

    .back-icon:hover{
        cursor: pointer;
    }

    input {
        box-sizing: border-box;
        color: $black;
        opacity: 1;
        font-size: 15px;
        line-height: 1.5;
        display: block;
        background: $white;
        height: 44px;
        border-radius: 5px;
        border: 0.25px solid $darkgrey;
        width: 100%;
        margin: 5px 0px;
        height: 50px;
    }

    // input:hover{
    //     border: 2px solid $black;
    // }

    input:focus{
        outline: none;
        border: 1px solid $lightblue;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .error-message{
        color: red;
        font-size: 13px;
        margin: 2px;
    }

    input.error{
        border: 1px solid red;
    }
    button.back-icon{
        background-color: transparent;
        border: 0px;
    }
}
