@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.btn-nav-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;

    .nav-icon{
        color: $vintageblue;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .button-nav{
        background-color: transparent;
        border: none;
        color: #6c7a99;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 50px;
        text-align: left;
        text-decoration: none;
        font-size: 15px;
        border-radius: 50%;
        margin: 0 auto;
        width: 40px;
        height: 40px;
    }
    
    .button-nav:hover{
        cursor: pointer;
    }

    .button-nav.clicked{
        background-color: $brightblue;
        color: white;
        box-shadow: 0 4px 8px rgba(63, 136, 255, 0.5);
        width: 40px;
        height: 40px;

        + .nav-icon {
            color: white;
        }
    }
}