@import 'src/assets/scss/colors';

#service-screen{
    height: 100%;
    width: 84vw;
    top: 0%;
    left: 16vw;
    position: absolute;

    .title{
        top: 30px;
        position: absolute;
        left: 0%;
        transform: translateX(10%);
        color: $vintageblue
    }
}

#button-add-service{
    position: absolute;
    top: 20px;
    right: 5%;
    width: 180px;
}