@import 'src/assets/scss/colors';

#service-screen{
    height: 100%;
    width: 100%;
    background-color: $grey;

    .title{
        top: 30px;
        position: absolute;
        left: 0%;
        transform: translateX(10%);
        color: $vintageblue
    }
}

#button-add-service{
    width: 180px;
}

#work-table-wrapper{
    width: 95%
}