@import 'src/assets/scss/colors';

#log-in-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

.login-left-panel {
    background-image: url('../../../public/login2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Adjust based on your needs */
    border-radius: 10px;
    height: 100%; /* Ensure the container has a height */
    width: 100%
}
#login-logo{
    background-image: url('../../../public/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Adjust based on your needs */
    height: 60px; 
    width: 60px;
}
#log-in-card-wrapper{
    height:80%;
    width: 80%;
    // background-color: $orange;
}

.card {
    background-color: white;

    #button-wrapper{
        width: 40%;
        height: 50px;
        margin-top: 15px;
    }
}

.title { 
    color: brown;
}

#username-field{
    height: 80px;
    width: 80%;
}

#password-field{
    height: 80px;
    width: 80%;
}




  
  