@import 'src/assets/scss/colors';

#log-in-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-left-panel {
    background-image: url('../../../public/login2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Adjust based on your needs */
    height: 100%; /* Ensure the container has a height */
}
#login-logo{
    background-image: url('../../../public/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Adjust based on your needs */
    height: 100px; /* Ensure the container has a height */
    width: 100px
}
#log-in-card-wrapper{
    height:100%;
    width: 100%;
    // background-color: $orange;
}

.card {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #ddd7f3;

    #button-wrapper{
        width: 40%;
        height: 50px;
        margin-top: 15px;
    }
}

.title { 
    color: brown;
}

#username-field{
    height: 70px;
    width: 80%;
}

#password-field{
    height: 70px;
    width: 80%;
}




  
  