@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.search-wrapper{
    position: relative;
    height: 30px;
}

input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: $navy;
    font-size: 14px;
    padding: 10px 50px;
    background-color: #e9eef3;
}

.front-icon{
    position: absolute;
    top: 50%;
    left: 3%;
    color: black;
}