@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.button-submit{
    background: $groundyellow;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    &:disabled{
        background-color: #d5b60a;
        color: white;
    }
}

.button-submit:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.2);
}