@import 'src/assets/scss/colors';

#confirmation-dialog{
    position: relative;
}

#confirmation-button-confirm{
    height: 40px;
    width: 100%;
}

#confirmation-button-cancel{
    height: 40px;
    width: 100%;
}