body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue',
    sans-serif;
    font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, 'Helvetica Neue',
    monospace;
}