@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.dialog-info-icon{
    color: #563d2d;
}

.dialog-info-section{
    color: #563d2d;
}

.dialog-info-title{
    color: $darkgrey
}

.dialog-info-accordion-details{
    padding-left: 30px;
    padding-right: 30px;
} 