@import 'src/assets/scss/colors';
@import 'src/assets/scss/fonts';

.dialog-info-icon{
    color: $groundorange;
}

.dialog-info-text{
    color: $groundorange;
}

.dialog-info-accordion-details{
    padding-left: 30px;
    padding-right: 30px;
} 