@import 'src/assets/scss/colors';

.dialog-box{
    position: relative;
}

#thong-tin-nh{
    position: absolute;
    top: 290px;
}

#nhanhieu-nhanhieu{
    width: 90%;
    position: absolute;
    top: 380px;
    left:50%;
    height: 50px;
    transform: translateX(-50%);
}

#nhanhieu-group{
    width: 90%;
    position: absolute;
    top: 430px;
    left:5%;
    height: 50px;
    width: 20%;

    #nhanhieu-group-label-wrapper1{
        margin-bottom: 5px;

        #nhanhieu-group-label1{
            color: $vintageblue;
            font-size: 15px;
        }
    }
}

#nhanhieu-date{
    width: 68%;
    position: absolute;
    top: 430px;
    right:5%;
    height: 120px;
    // transform: translateX(-50%);
}

// #nhanhieu-date{
//     width: 66%;
//     position: absolute;
//     top: 51.7%;
//     left: 62%
    
// }

#nhanhieu-number{
    width: 100%;
    position: absolute;
    top: 530px;
    left: 5%;
    height: 50px;

    #slash-1{
        position: absolute;
        top: 50%;
        left: 22%
    }

    #slash-2{
        position: absolute;
        top: 50%;
        left: 57%
    }

    #nhanhieu-number-label{
        color: $vintageblue;
        font-size: 15px;
    }

    #nhanhieu-number-group{
        width: 20%;
        position: absolute;
        margin-top: 5px;

        #nhanhieu-group-label-wrapper{
            margin-bottom: 5px;

            #nhanhieu-group-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }

    #nhanhieu-number-year{
        width: 30%;
        position: absolute;
        left: 25%;
        margin-top: 5px;

        #nhanhieu-year-label-wrapper{
            margin-bottom: 5px;

            #nhanhieu-year-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }

    #nhanhieu-number-id{
        width: 30%;
        position: absolute;
        right: 10%;
        margin-top: 5px;

        #nhanhieu-id-label-wrapper{
            margin-bottom: 5px;

            #nhanhieu-id-label{
                color: $vintageblue;
                font-size: 15px;
            }
        }
    }
}

#nhanhieu-btn-add-history{
    position: absolute;
    top: 630px;
    width: 20%;
    height: 40px;
    right: 50%;
    transform: translateX(50%)
}

.nhanhieu-history-fields{
    position: relative;
    width: 100%;
    height: 100px;
    top: 410px;
}

.history-action{
    position: absolute;
    top: 10px;
    width: 45%;
}

.history-date{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%)
}

.history-date{
    position: absolute;
    width: 40%; 
    left: 50%;
    top: 50%;
    transform: translateY(-50%)
}

.history-delete{
    position: absolute;
    right: 0%;
    top: 60%;
    transform: translateY(-50%)
}

#gcn-block{
    position: relative;
    width: 100%;
    height: 220px;
}

#nhanhieu-so-gcn{
    width: 100%;
    position: absolute;
    top: 50px;
}

#nhanhieu-gcn-date{
    width: 40%;
    height: 120px;
    position: absolute;
    top: 50px;
    left: 55%
}

#thong-tin-gcn{
    position: absolute;
    top: 0px;
}

#nhanhieu-button-save{
    height: 50px;
    width: 12%;
    position: absolute;
    bottom: 3%;
    left: 52%
}

#nhanhieu-button-cancel{
    height: 50px;
    width: 12%;
    position: absolute;
    bottom: 3%;
    right: 52%
}